*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(253, 0, 139);
    #Logo{
        a{
            img{
                width: 80px;
                height: 80px;
            }
        }
    }
    ul{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        #Buscador{
            padding: 10px 0;
        }
        #Noticias{
            padding: 15px 0;
        }
    #Buscador{
        input{
            width: 600px;
        }
        button{
            background-color: aqua;
            color: black;
        }
    }
    }
    nav{
        color: white;
        display: flex;
            flex-direction: row;
            justify-content: space-around;
        ul{
            display: flex;
            flex-direction: row;
            list-style: none;
            li{
                padding: 0 5px;
            }
        }
        #Envios{
            display: flex;
            flex-direction: row;
            div{
                svg{
                    padding-top: 8px;
                }
            }
            #Destino{
                display: flex;
                flex-direction: column;
            }
        }
    }
}
main{
    background-color: rgb(112, 230, 190);
    #Textos{
        text-align: center;
    }
    #Botones{
        margin: 0 auto;
    }
    #Lista_Snacks{
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}