*{
    padding: 0%;
    margin: 0%;
}
@font-face {
    font-family: Font_A;
    src: url(Fuentes/Royalacid_o.ttf);
}
body{
    background: linear-gradient(rgb(13, 202, 216), rgb(253, 10, 172));
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    img{
        width: 100px;
        height: 100px;
    }
}
main{
    h1{
        color: white;
        text-align: center;
        padding: 3%;
    }
    #Registro{
        background: linear-gradient(rgb(253, 10, 172), rgb(13, 202, 216));
        background-repeat: no-repeat;
        background-size: cover;
        padding: 45px;
        width: 50%;
        display: flex;
        justify-content: center;
        height: 100%;
        margin: 0 auto;
        #Cuenta{
            color: white;
            font-size: 20px;
        }
        #Insertar{
            width: 600px;
            height: 35px;
            border-radius: 5px;
        }
        br{
            padding: 15px;
        }
        button{
            background-color: rgba(167, 164, 164, 0.986);
            height: 50px;
            width: 160px;
            color: white;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
    #Ayuda{
        padding: 50px;
        color: white;
        text-align: center;
        font-size: 25px;
    }
}